@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
.arrow-button {
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    height: 100%; /* Full height */
  }
  
  .group:hover .arrow-button {
    display: flex; /* Flex to center the arrow */
  }
  